<div class="container">
<nav></nav>
	<!-- <img src="/img/zubme_logo.png" alt="logo" /> -->
	<header><h1>zub*me.</h1></header>
	<p class="lead">
		"Measure you links with ZubMe, the world's leading link management platform."
	</p>
</div>

<center>
<div class="form">
	<form id="input" action="/urls" method="post" class="style-2">
    <input id="paste" type="text" name="long_url" placeholder="Enter your URL" required>
    <input id="btn" type="submit" name="Submit">
 </form>
 </center>
 </div>

 <br><br>

 <div id="error">
	 <%=@error%>
	</div>

<div class ="container">
 <table class="table-url-links">
	<tr>
		<th class="th2">ID</th>
		<th class="th2">Long URL</th>
		<th class="th2">Short URL</th>
		<th class="th2">Created At</th>
		<th class="th2">Click No.</th>
	</tr>	
	<% @urls.each do |url| %>
		<tr> 
			<td> <%= url.id %> </td> 
			<td> <div class="overme"><%= url.long_url %></div> </td> 
			<td> <div class="overme"> <a href="/<%= url.short_url %>"><%="http://localhost:9393/"%><%= url.short_url %> </a> </div> </td>
				<td> <%= url.created_at.strftime("%d %b. %Y at %H:%M") %> </td>  
				<td> <%= url.click_count %> </td> 
		</tr>
	<% end %>
 </table>
</div>




